.about-container {
  background-image: url("/assets/images/portada.webp");
  background-color: #018074;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  height: 550px;
  margin: 0px auto;
  .about-container-content {
    text-align: center;
    width: $large;
    padding: 40px;
    margin: 0px auto;
    padding-top: 185px;
    mix-blend-mode: color-dodge;
    .about-container-content__text {
      color: white;
      font-size: 35px;
      font-family: "Raleway";
      font-weight: 100;
      text-align: left;
      margin-top: 0px;
    }
    .title {
      text-align: left;
      font-size: 42px;
      h1 {
        margin: 0px;
        padding: 0px;
      }
      .bottom-mark {
        top: -29px;
        height: 20px;
        margin-left: 0px;
      }
    }
  }
}

