#main-content {
  background: white;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: $global-font-family;
  font-size: 1em;
  .articles-section {
    margin: 0px auto;
    border: 1px solid black;
  }
}

