
.bottom-mark {
  height: 10px;
  width: 5%;
  position: relative;
  top: -10px;
  left: 0;
  background: transparent;
  margin: 0 auto;
  padding: 0;
  transition: all .25s ease-in-out;
}

.mark-active {
  width: 80%;
  background: #FFC107;
}
