#Events {
  background: $fifth;
  display: grid;
  grid-auto-columns: 0fr 1fr;
  grid-auto-rows: 1fr;
  padding: 0px;
  .wrap-events-aside {
    width: 400px;
    height: 100%;
    grid-area: 1/1;
    .wrap-events-aside__title {
      color: $primary;
      text-align: left;
      font-size: 57px;
      font-family: $global-font-title;
      font-weight: 700;
      margin: 0;
      padding: 20px;
      padding-top: 30px;
    }
  }
  .wrap-events {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    grid-area: 1/2;
    .wrap-events__title {
      font-size: 57px;
      font-family: $global-font-title;
      color: $primary;
      text-align: center;
    }
    .wrap-events__content {
      display: grid;
      background: white;
      grid-auto-columns: 0fr 1fr;
      padding: 20px;
      .wrap-events__content__about {
        grid-area: 1/2;
        .wrap-events__content__about__register {
          font-size: 25px;
          font-family: $global-font-title;
          color: $primary;
          margin: 0px;
          text-transform: uppercase;
        }
        .wrap-events__content__about__title {
          font-size: 45px;
          font-family: $global-font-title;
          color: $primary;
          margin: 0px;
          text-transform: uppercase;
        }
        .wrap-events__content__about__text {
          font-size: 18px;
          font-family: $global-font-family;
          margin-top: 8px;
          line-height: 1.4;
        }
      }
      .wrap-events__content__speaker {
        width: 300px;
        grid-area: 1/1;
        text-align: left;
        .wrap-events__content__speaker__name {
          font-size: 22px;
          font-family: $global-font-family;
          color: black;
        }
        .wrap-events__content__speaker__next {
          font-size: 20px;
          font-family: $global-font-title;
          background: $fifth;
          color: $primary;
          width: 80%;
          height: 25px;
          padding: 8px;
        }
        .wrap-events__content__speaker__ponente {
          font-size: 20px;
          font-family: $global-font-title;
          background: $fifth;
          color: $primary;
          width: 80%;
          height: 25px;
          padding: 8px;
          margin-top: 8px;
        }
        .wrap-events__content__speaker__image {
          width: 180px;
          height: 180px;
          margin: 20px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 100%;
        }
      }
    }
  }
  .alice-carousel__prev-btn {
    left: -50px !important;
  }

  .alice-carousel__next-btn {
    right: -25px !important;
  }
}

.wrap-events__content-before {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  grid-area: 1/2;
  .wrap-events__content-before-title {
    font-size: 20px;
    font-family: $global-font-title;
    background: $primary;
    color: #fff;
    width: 240px;
    height: 25px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  .wrap-events__content-before__gallery {
    .wrap-events__content-before__gallery__content {
      width: auto;
      height: auto;
      .wrap-events__content-before__gallery__content__image__text {
        width: 295px;
        vertical-align: top;
        padding-left: 10px;
        display: inline-block;
        h1 {
          font-size: 21px;
          font-family: $global-font-title;
          color: $primary;
          margin: 0px;
        }
        p {
          font-size: 18px;
          font-family: $global-font-family;
          color: black;
          margin-top: 5px;
        }
      }
      .wrap-events__content-before__gallery__content__image {
        width: 200px;
        height: 140px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
      }
    }
  }
}
