@media (max-width: $medium) {
  .main-header__desktop {
    display: none !important;
  }
  .wrap-logo {
    padding-left: 42px;
    .wrap-logo__menu-select {
      display: inline-block !important;
      position: absolute;
      left: 0px;
      color: white;
      z-index: 100;
      i {
        font-size: 40px;
      }
    }
  }
}


@media (max-width: 375px) {
  #logo {
    width: 287px;
    position: relative;
    left: -6px;
  }
}

.header-background {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0px;
  left: 0px;
  background: $secondary;
  transition: all 0.25s ease-in-out;
}
.wrap-header {
  max-width: $large;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  .wrap-logo__menu-select {
    display: none;
  }
  img {
    width: 290px;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
  }
  .main-header {
    padding: 0;
    height: auto;
    transition: all .25s ease-in-out;
    display: grid;
    position: relative;
    left: 0;
    bottom: -9px;
    margin: 0 auto;
    .main-header__mobile {
      width: 90%;
      height: 100%;
      position: fixed;
      top: 0px;
      left: -90%;
      transition: all 1s ease-in-out;
      background: transparent;
      ul {
        padding: 0;
        padding-top: 35px;
        li {
          list-style: none;
          display: block;
          margin-right: 0px;
          font-size: 25px;
          border: none;
          font-family: $global-font-title;
          margin-bottom: 25px;
          margin-left: 25px;
          text-align: left;
          cursor: pointer;
          transition: all 0.25s ease-in-out;
          position: relative;
          top: 0px;
          color: $primary;
          .menu-text {
            z-index: 100;
            position: relative;
          }
          &:hover span {
            color: red;
            position: relative;
            z-index: 1;
            display: inline-block;
          }
          &:hover .bottom-mark {
            margin-left: 0px;
            width: 60%;
            top: -10px !important;
            left: 0px;
            background: $secondary;
          }
        }
      }
    }
    .main-header__desktop {
      align-self: end;
      text-align: right;
      ul {
        padding: 0px;
        li {
          list-style: none;
          display: inline-block;
          margin-right: 0px;
          font-size: 18px;
          border: none;
          font-family: $global-font-title;
          margin-right: 25px;
          cursor: pointer;
          transition: all 0.25s ease-in-out;
          position: relative;
          top: 0px;
          &:hover {
            top: -5px;
          }
          span {
            transition: all 0.25s ease-in-out;
            color: white;
          }
          &:hover span {
            color: $third;
            position: relative;
            z-index: 1;
          }
          &:hover .bottom-mark {
            width: 80%;
            height: 8px;
            top: -5px !important;
            background: transparent;
          }
        }
      }
    }
  }
}

.menu-active {
  color: $primary !important;
}

.menu-appear-aside {
  background: $third !important;
}

.background-contrast {
  background: $third !important;
  .wrap-logo__menu-select  {
    color: $primary !important;
  }
  ul {
    li {
      span {
        color: $primary !important;
      }
      font-family: $global-font-title !important;
      &:hover .bottom-mark {
        background: $fourth !important;
      }
    }
  }
}
