.header-background {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.4);
}
.wrap-header {
  max-width: $large;
  display: grid;
  grid-template-columns: .1fr 1fr;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  img {
    width: 290px;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
  }
  .main-header {
    padding: 0;
    height: auto;
    transition: all .25s ease-in-out;
    display: grid;
    position: relative;
    left: 0;
    bottom: -9px;
    margin: 0 auto;
    nav {
      align-self: end;
      text-align: right;
      ul {
        padding: 0px;
        li {
          list-style: none;
          display: inline-block;
          margin-right: 0px;
          font-size: 18px;
          border: none;
          font-family: $global-font-family;
          margin-right: 25px;
          cursor: pointer;
          transition: all 0.25s ease-in-out;
          position: relative;
          top: 0px;
          &:hover {
            top: -5px;
          }
          span {
            transition: all 0.25s ease-in-out;
            color: white;
          }
          &:hover span {
            color: red;
            position: relative;
            z-index: 1;
          }
          &:hover .bottom-mark {
            width: 80%;
            height: 8px;
            top: -8px !important;
            background: $third;
          }
        }
      }
    }
  }
}

