.wrap-news {
  max-width: $large+100px;
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-gap: 85px;
  margin: 50px auto;
  .wrap-news__content {
    grid-area: 1/1;
    position: fixed;
    top: 188px;
    width: 300px;
    margin-left: -18px;
    transition: all 0.25s ease-in-out;
    .wrap-news__content-news-controls {
      width: 100%;
      margin: 0px auto;
      margin-top: 20px;
      position: relative;
      text-align: center;
      .disabled {
        cursor: default !important;
        pointer-events:none !important;
        &:hover {
          background: transparent !important;
          color: red !important;
        }
      }
      .wrap-news__content-news-controls-back {
        text-align: left;
        i {
          padding-right: 8px;
          transition: all 0.25s ease-in-out;
        }
        &:hover i {
          padding-right: 4px;
          color: white;
        }
      }
      .wrap-news__content-news-controls-next {
        text-align: right;
        i {
          padding-left: 4px;
          padding-right: 2px;
          transition: all 0.25s ease-in-out;
        }
        &:hover i {
          padding-left: 0px;
          color: white;
        }
      }
      .wrap-news__content-news-controls-back,
      .wrap-news__content-news-controls-next {
        width: 111px;
        padding-top: 5px;
        padding-bottom: 5px;
        color:red;
        vertical-align: middle;
        cursor: pointer;
        display: inline-block;
        transition: all 0.25s ease-in-out;
        span, i {
          vertical-align: middle;
        }
        &:hover {
          background: $primary;
          color: white;
        }
      }
    }
    .wrap-news__content-news-date {
      text-align: left;
      margin: 0px auto;
      position: relative;
      display: block;
      width: 100%;
      color: #ccc;
      position: relative;
      left: 40px;
    }
    .title-news {
      position: relative;
      left: 12px;
      .title {
        .bottom-mark {
          top: -20px;
        }
        span {
          font-size: 65px;
        }
      }
    }
    li {
      list-style: none;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      &:hover {
        margin-left: 20px;
      }
      &:focus {
        margin-left: 20px;
      }
      .title {
        font-size: 25px;
        text-align: left !important;
        .bottom-mark {
          top: -10px;
        }
      }
    }
  }
  .wrap-news__content-text {
    text-align: center;
    line-height: 1.5;
    font-family: $global-font-family;
    color: black;
    padding-bottom: 20px;
  }
}

#videoWrapper {
  height: 500px;
}

.wrap-news__body {
  padding-left: 20px;
  padding-right: 20px;
  grid-area: 1/2;
  .title {
    position: relative;
    span {
      font-size: 65px;
    }
    .bottom-mark {
      top: -22px;
    }
  }
}

