.wrap-news {
  max-width: $large;
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px auto;
  justify-content: center;
}

#videoWrapper {
  height: 500px;
}

.wrap-news__body {
  width: 950px;
  margin: 0 auto;
  position: relative;
  margin-left: 200px;
  .wrap-news__body-content {
    p {
      font-size: 18px;
      line-height: 1.5;
      font-family: $global-font-family;
    }
  }
  .wrap-news__content-gallery {
    width: 100%;
    height: 300px !important;
  }
  .title {
    position: relative;
    text-align: center;
    span {
      font-size: 65px;
    }
    .bottom-mark {
      top: -22px;
    }
  }
}

