#Projects {
  background: $primary;
  display: grid;
  grid-auto-columns: 0fr 1fr;
  grid-auto-rows: 1fr;
  padding: 0px;
  transition: all 0.25s ease-in-out;
  .wrap-project-aside {
    width: 400px;
    height: 100%;
    grid-area: 1/1;
    .wrap-project-aside__title {
      color: white;
      text-align: left;
      font-size: 40px;
      font-family: $global-font-title;
      font-weight: 700;
      margin: 0px;
      padding: 20px;
      padding-top: 30px;
    }
  }
  .projects-title {
    color: #fff;
    text-align: center;
    font-size: 57px;
    font-family: $global-font-title;
  }
  .wrap-projects {
    background: whitesmoke;
    width: 100%;
    height: 100%;
    grid-area: 1/2;
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
    display: grid;
    grid-auto-columns: 1fr;
    grid-gap: 25px;
    font-family: $global-font-title;
    text-align: left;
    .wrap-projects__unactive {
      font-size: 20px;
      grid-area: 1/1;
      padding-top: 25px;
      padding-left: 40px;
      padding-bottom: 40px;
      margin-top: 10px;
      transition: all 0.25s ease-in-out;
      .wrap-projects__unactive-title {
        color: white;
        background: $primary;
        font-size: 45px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 10px;
        padding-top: 5px;
        width: 300px;
      }
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        padding-top: 20px;
      }
      .wrap-projects__unactive-item {
        margin-top: 20px;
        margin-bottom: 20px;
        display: grid;
        grid-auto-columns: 0fr 1fr;
        .wrap-projects__unactive-item-image {
          width: 250px;
          height: 150px;
          vertical-align: top;
          position: relative;
          overflow: hidden;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          .wrap-projects__unactive-item-image__tag {
            background: $fourth;
            color: $primary;
            font-family: $global-font-title;
            font-size: 18px;
            height: 25px;
            width: 100%;
            padding-top: 5px;
            padding-left: 10px;
            display: block;
            position: absolute;
            bottom: 0px;
          }
        }
        .wrap-projects__unactive-item-content {
          width: 400px;
          margin-left: 30px;
          grid-area: 1/2;
          .wrap-projects__unactive-item-name {
            font-family: $global-font-title;
            text-align: left;
            color: $primary;
            font-size: 33px;
          }
          .wrap-projects__unactive-item-text {
            font-family: $global-font-family;
            text-align: left;
            color: $primary;
            margin-top: 0px;
            color: black;
            font-size: 14px;
            line-height: 1.5;
          }
        }
      }
    }
    .wrap-projects__active {
      font-size: 20px;
      grid-area: 1/1;
      padding-left: 25px;
      padding-top: 30px;
      padding-bottom: 20px;
      .wrap-projects__active-title {
        color: white;
        background: $primary;
        font-size: 45px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 10px;
        padding-top: 5px;
        width: 300px;
      }
      .wrap-projects__active-subtitle {
        color: $primary;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .wrap-projects__active-current-text {
        font-family: $global-font-family;
        text-align: left;
        margin-top: 8px;
        font-size: 18px;
        line-height: 1.5;
      }
      .wrap-projects__active-current {
        color: $primary;
        background: $fourth;
        padding: 10px;
        display: block;
        font-size: 30px;
      }
    }
  }
}
