#Team {
  background: $fourth;
  padding: 0px;
  grid-auto-columns: 0fr 1fr;
  grid-auto-rows: 1fr;
  width: 100%;
  display: grid;
  transition: all 0.25s ease-in-out;
  .team-title {
    width: 400px;
    height: 100%;
    grid-area: 1/1;
    padding-bottom: 30px;
    .wrap-vision {
     padding-left: 20px;
      .wrap-vision__text {
        text-align: left;
        font-family: $global-font-family;
        font-size: 20px;
        line-height: 1.3;
        padding-right: 10px;
        margin-top: 0px;
     }
     .wrap-vision__title {
        color: $third;
        text-align: left;
        font-size: 45px;
        font-family: $global-font-title;
        font-weight: 700;
        margin: 0px;
        padding-right: 10px;
     }
    }
    .wrap-mision {
      padding-left: 20px;
     .wrap-mision__title {
        color: $third;
        text-align: left;
        font-size: 45px;
        font-family: $global-font-title;
        font-weight: 700;
        margin: 0px;
        padding-right: 10px;
     }
      .wrap-mision__text {
        text-align: left;
        font-family: $global-font-family;
        font-size: 20px;
        line-height: 1.3;
        padding-right: 10px;
        margin-top: 0px;
     }
     .wrap-mision__title {
        color: $third;
        text-align: left;
        font-size: 45px;
        font-family: $global-font-title;
        font-weight: 700;
        margin: 0px;
      }
    }
    .team-container__title {
      color:$third;
      text-align: left;
      font-size: 40px;
      font-family: $global-font-title;
      font-weight: bold;
      padding-left: 20px;
      margin-bottom: 0px;
    }
  }
  .team-container {
    background: white;
    width: 100%;
    height: 100%;
    grid-area: 1/2;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    transition: all 0.25s ease-in-out;
  }
  .team-container__text {
    text-align: left;
    font-family:$global-font-family;
    color:$third;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 0px;
    line-height: 1.3;
  }
  .team-container__wrap-list {
    display: grid;
    background: whitesmoke;
    grid-auto-columns: 0fr 1fr;
    grid-gap: 40px;
    margin-top: 0px;
    padding: 25px;
    padding-left: 10px;
    padding-right: 10px;
    .team-container__wrap-list__main {
      grid-area: 1/1;
      width: 325px;
      .wrap-member-selected {
        .wrap-member-selected__image {
          width: 250px;
          height: 250px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 100%;
          margin: 30px auto;
          margin-top: 0px;
          transition: all 0.25s ease-in-out;
        }
        .wrap-member-selected__name {
          text-align: left;
          font-family: $global-font-title;
          font-size: 33px;
          transition: all 0.5s ease-in-out;
          display: block;
          padding-left: 23px;
        }
        .wrap-member-selected__text {
          text-align: left;
          font-family: $global-font-family;
          font-size: 14px;
          line-height: 1.3;
          transition: all 0.5s ease-in-out;
          padding-left: 20px;
          padding-right: 10px;
        }
        .wrap-member-selected__status {
          color: $primary;
          background: $fourth;
          padding: 10px;
          display: block;
          width: 80%;
          margin: 0px auto;
          margin-top: 0px;
          padding-top: 12px;
          padding-left: 20px;
          transition: all 0.5s ease-in-out;
          text-align: left;
        }
        .wrap-member-selected__bio {
          text-align: center;
          font-family: $global-font-title;
          font-size: 20px;
        }
      }
    }
    .team-container__wrap-list__items {
      grid-area: 1/2;
    }
  }
}

.blur {
  filter: blur(10px);
}

.push-up {
  padding-top: 0px !important;
}
