/*
  Bitflow global settings
  1. Global
  2. Fonts
  3. Animations
*/

// 1. Global
$primary: #091e8c;
$secondary: rgb(255, 193, 7);

// 2. Fonts
$global-font-family: 'Open Sans Regular';
$global-font-family-light: 'Open Sans Light';
$global-font-title: 'Raleway Bold';

//3. Window sizes
$x-large: 1440px;
$large: 1174px;
$medium: 768px;
$medium-l: 450px;
$small: 320px;

