/*
  Bitflow global settings
  1. Global
  2. Fonts
  3. Animations
*/

// 1. Global
$primary: #5f345f;
$secondary: #714d73;
$third: #2fc3a6;
$third_dark: #116052;
$fourth: #f2e92c;
$fifth:#9dd19a;
$portada_filter:#673AB7;

// 2. Fonts
$global-font-family: 'Open Sans Regular';
$global-font-family-light: 'Raleway';
$global-font-title: 'Raleway Bold';

//3. Window sizes
$x-large: 1440px;
$large: 1024px;
$medium: 768px;
$medium-l: 450px;
$small: 320px;

