@keyframes appear-smoothly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear-smoothly-top {
  from {
    top: 20px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes appear-smoothly-bottom {
  from {
    padding-bottom: 20px;
    opacity: 0;
  }
  to {
    padding-bottom: 0px;
    opacity: 1;
  }
}

@keyframes appear-smoothly-left {
  0% {
    opacity: 0;
  }
  50% {
    padding-left: 10px;
  }
  100% {
    padding-left: 0px;
    opacity: 1;
  }
}

@keyframes appear-smoothly-right {
  0% {
    opacity: 0;
  }
  50% {
    padding-right: 10px;
  }
  100% {
    padding-right: 0px;
    opacity: 1;
  }
}


@keyframes bar-grow-right {
  from {
    width: 0%;
    opacity: 0.5;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}


@keyframes bar-grow {
  from {
    width: 0%;
    opacity: 0.5;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes appear-smoothly-aside {
  from {
    left: -90%;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes disappear-smoothly-aside {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: -90%;
    opacity: 0;
  }
}

@keyframes disappear-title-smoothly {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear-title-smoothly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes disappear-smoothly {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none !important;
  }
}

.appear {
  animation-name: appear-smoothly;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

.appear-left {
  animation-name: appear-smoothly-left;
  animation-duration: 1.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.appear-bottom {
  animation-name: appear-smoothly-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
}

.appear-right {
  animation-name: appear-smoothly-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.menu-appear-aside {
  animation-name: appear-smoothly-aside;
  animation-duration: 0.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

.menu-disappear-aside {
  animation-name: disappear-smoothly-aside;
  animation-duration: 0.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

.appear-letter {
  animation-name: appear-smoothly;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.disappear-title {
  animation-name: disappear-title-smoothly;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 1;
}

.appear-title {
  animation-name: appear-title-smoothly;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.hidden {
  opacity: 0;
}

.hide {
  display: none;
}
.show {
  display: block;
}

.delay-1 {
  animation-delay: 1s;
}
.delay-2 {
  animation-delay: 2s;
}
.delay-3 {
  animation-delay: 3s;
}
.delay-4 {
  animation-delay: 4s;
}
.delay-5 {
  animation-delay: 5s;
}
.delay-6 {
  animation-delay: 6s;
}
.delay-7 {
  animation-delay: 7s;
}
.delay-8 {
  animation-delay: 8s;
}
.delay-9 {
  animation-delay: 9s;
}
